# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=
export PICARD=/mnt/hd02.d/tniu.d/biosoftware/picard.jar:$PICARD
export PATH=/home/tniu/download.d/biosoftware/ncbi-blast-2.6.0+/bin:/home/tniu/bin:/home/tniu/bin/zsh:$PATH
export PATH=/home/tniu/download.d/biosoftware/primer3-2.4.0/src:/mnt/hd02.d/tniu.d/biosoftware/FastQC:$PATH
# User specific aliases and functions

alias hd2='cd /mnt/hd02.d/tniu.d'
alias hd3='cd /mnt/hd03.d/tniu.d'
alias hd4='cd /mnt/hd04.d/tniu.d'
alias ..='cd ..'
alias ...='cd ../..'
alias PICARD='java -jar /mnt/hd02.d/tniu.d/biosoftware/picard.jar'
alias mv='mv -i'
alias rm='rm -i'
#exec $HOME/bin/zsh

# added by Anaconda3 installer
export PATH="/home/tniu/anaconda3/bin:/home/tniu/bin/matrix:/mnt/hd03.d/tniu.d/download.d/sratoolkit.2.8.2-1-centos_linux64/bin:/home/tniu/bin/samtools-1.7:/home/tniu/bin/bedtools2/bin:/home/tniu/bin/rar:$PATH"
#export PYTHONPATH=$PYTHONPATH:"/home/tniu/anaconda3/bin:/home/tniu/pypackage.d/"
export PATH=${PATH}:/home/tniu/edirect

export PERL_LOCAL_LIB_ROOT="$PERL_LOCAL_LIB_ROOT:/home/tniu/perl5";
export PERL_MB_OPT="--install_base /home/tniu/perl5";
export PERL_MM_OPT="INSTALL_BASE=/home/tniu/perl5";
export PERL5LIB="/home/tniu/perl5/lib/perl5:$PERL5LIB";
export PATH="/home/tniu/perl5/bin:$PATH";
