set nocompatible
syntax enable
syntax on
filetype on
filetype plugin on
filetype plugin indent on
set nu
set tabstop=4 "设置Tab显示的宽度，Python 建议设置成4“
set shiftwidth=4 "每行的缩进深度，一般设置成和tabstop一样的宽度"
set autoindent "自动缩进"
set expandtab "将Tab设置成四个空格"
"如果只想再python文件中将Tab展开成空格，就改成下面这句"
"autocmd FileType python set expandtab"
set smartindent "只能缩进"
set cindent "C语言风格缩进"
set mouse=a
